<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Property/New</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>

  <body>
    <header>
      <h1>&#127968; MakersBnB &#127968;</h1>
    </header>

      <div> 
        <div> 
          <% flash.keys.each do |type| %>
            <div data-alert class="flash <%= type %> alert-box radius">
            <%= flash[type] %>
            <a href="/homepage" class="close">&times;</a>
            </div>
          <% end %>
       </div>

        <div> <!-- button navigation -->
          <form action="/homepage" method='get'>
            <input type="submit" value='Homepage'>
          </form>
          <form action="/session/destroy" method='post'>
              <button type="submit"> Logout </button>
            </form>
        </div>
     
        <div>
          <p class="pd_title">
            Please give us your property details
          </p>
            <div>
              <form action="/property/new" method="post" class="property_form">
                <input type="hidden" name="user_id" id="user_id" value="<%= @user.id %>">
                <label for="title">Title:
                  <input type="text" name="title" placeholder="Give your listing a name" class="prop_title">
                </label>
                <label for="address">Address:
                  <input type="text" name="address" placeholder="Street address" class="prop_add">
                </label>
                <label for="postcode">Postcode:
                  <input type="text" name="postcode" placeholder="Postcode" class="prop_postcode">
                </label>
                <label for="description">Description:
                  <textarea id="description" name="description" rows="5" cols="20" placeholder="Tell us about what makes your property special" class="prop_des">
                  </textarea>
                </label>
                <label for="number">Price:
                  <input type="number" name="price_per_day" placeholder="How much would you like to rent it for" class="prop_price">
                </label>
                <button type='submit' value="Create listing" class="create_list_button"> Create listing</button>
              </form>
            </div>
          </div>
      </div> 
    <footer>
      🦍 © In the AirBnB Tonight 🦍 | 
      <a href="https://github.com/MattDawson2020/in_the_airbnb_tonight">Project GitHub</a>
    </footer>
  </body>
</html>
