<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Property/New</title>
</head>
<body>
  Please give us your property details
  <form action="/property/new" method="post">
    <input type="text" name="title" placeholder="Give your listing a name">
    <input type="text" name="address" placeholder="Street address">
    <input type="text" name="postcode" placeholder="Postcode">
    <input type="textarea" name="description" placeholder="Tell us about what makes your property special">
    <input type="number" name="price_per_day" placeholder="How much would you like to rent it for">
    <button type='submit' value="Create listing">
  </form>
</body>
</html>
