<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Property/New</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>

  <body>
      <div> 
        <div> 
          <% flash.keys.each do |type| %>
            <div data-alert class="flash <%= type %> alert-box radius">
            <%= flash[type] %>
            <a href="/homepage" class="close">&times;</a>
            </div>
          <% end %>
       </div>

        <div class="property_new_nav_buttons"> 
          <h1 class="header-left">&#127968; MakersBnB &#127968;</h1>
          <div class='header-right'>
            <form action="/session/destroy" method='post'>
              <button type="submit"> Logout </button>
            </form>
          </div>
          <div class='header-right'>
            <form action="/homepage" method='get'>
              <button type="submit"> Homepage </button>
            </form>
          </div>
        </div>
     
        <div class="prop_form">
          <p class="pd_title">
            Property details
          </p>
            <div>
              <form action="/property/new" method="post" class="property_form">
                <input type="hidden" name="user_id" id="user_id" value="<%= @user.id %>">
                <input type="text" name="title" placeholder="Give your listing a name" class="prop_title" required="required"> 
                <input type="text" name="address" placeholder="Street address" class="prop_add" required="required">
                <input type="text" name="postcode" placeholder="Postcode" class="prop_postcode" required="required">
                <div class="des_text">Enter description below </div>
                <textarea id="description" name="description" rows="5" cols="5" class="prop_des" style="width:80%" required="required">
                </textarea>
                <input type="number" name="price_per_day" placeholder="Price per night" class="prop_price" required="required">
                <button type='submit' value="Create listing" class="create_list_button"> Create listing</button>
              </form>
            </div>
          </div>
      </div> 
    <footer>
      🦍 © In the AirBnB Tonight 🦍 | 
      <a href="https://github.com/MattDawson2020/in_the_airbnb_tonight">Project GitHub</a>
    </footer>
  </body>
</html>
