<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/style.css">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to MakersBnb</title>
  <div class="container">
         <h1><em>&#127968; MakersBnB &#127968;</em></h1>
  </div>
</head>
<body>
  
  <% flash.keys.each do |type| %>
        <div data-alert class="flash <%= type %> alert-box radius">
            <%= flash[type] %>
            <a href="/" class="close">&times;</a>
        </div>
  <% end %>
  <h2>Sign In</h2>
  <form action="/user/new">
    <input type="submit" value="Sign up">
  </form>
  <form action="/session/new" method="post">
  <label for="email">Email:
      <input type="text" name='email' placeholder='Enter email'>
    </label>
    <label for="password">Password:
      <input type="password"  name="password" id="password" placeholder='Enter password'>
      <input type="checkbox" onclick="myFunction()">Show Password
      <script>
        function myFunction() {
        var x = document.getElementById("password");
        if (x.type === "password") {
          x.type = "text";
        } else {
          x.type = "password";
        }
         }
      </script>
    </label>
    <input type="submit" value="Log in">
  </form>

<footer>
    <p>© Into the AirBnB Tonight 🦍 | 
    <a href="https://github.com/MattDawson2020/in_the_airbnb_tonight">Project GitHub</a></p>
  </footer>

</body>
</html>