<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to AirBnb</title>
</head>
<body>
  <h1>Welcome to AirBnb</h1>
  <h3>Please sign in or sign up</h3>
  <form action="/user/new">
    <input type="submit" value="Sign up">
  </form>
</body>
</html>