<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up</title>
  <div class="container">
         <h1><em>&#127968; MakersBnB &#127968;</em></h1>
   </div>
</head>
<body>
  <form action="/homepage" method='get'>
    <input type="submit" value='Homepage'>
  </form>
  <h3>Please fill in your details below</h3>
  <form action="/user/new" method='post'>
    <label for="name">Name:
      <input type="text" name='name' placeholder='Enter name'>
    </label>
    <label for="email">Email:
      <input type="text" name='email' placeholder='Enter email'>
    </label>
    <label for="password">Password:
      <input type="password"  name="password" id="password" placeholder='Enter password'>
      <input type="checkbox" onclick="myFunction()">Show Password
      <script>
        function myFunction() {
        var x = document.getElementById("password");
        if (x.type === "password") {
          x.type = "text";
        } else {
          x.type = "password";
        }
         }
      </script>
    </label>
    <input type="submit" value='Submit'>
  </form>
</body>
</html>